/* FORMATS */
html,body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
  {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}

blockquote,q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""
}

blockquote:before,q:before,blockquote:after,q:after {
  content: ""
}

th,td,caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

a {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: underline
}

ul {
  list-style: none
}

body * {
  outline: 0;
  /*display: block;*/
}

/* END FORMATS */

body {
    /*background: url("/bundles/webalibresecciones/images/base/fondo_gris.jpg") repeat scroll 0 0 #fbd19e;*/
    color: #000000;
    background-color: #FFFFFF;
    font-family: arial, Times New Roman;
    /*font-size: 13px;*/
    /*margin: 20px 0 0 0;*/
    padding: 0;
    display: block;
    
}

.out-container {
  /*width: 1000px;*/
  margin: 0 auto 100px auto;
  /*padding: 5px 0;*/
  /*border: 1px solid #dbd7de;*/
  /*-moz-border-radius: 15px;*/
  /*border-radius: 15px;*/
  /*background-color: #dbd7de;*/
}

.out-container .header {
  background: url("/bundles/vaxfront/images/base/pattern-header.jpg") repeat-x scroll 0 0 #FFFFFF;
  /*height: 400px;*/
  float: left;
  width: 100%;
}

.out-container .header .inner-header {
  width: 960px;
  margin: 0 auto 10px auto;
  /*padding: 5px 0;*/
  /*border: 1px solid #dbd7de;*/
  /*-moz-border-radius: 15px;*/
  /*border-radius: 15px;*/
  /*background-color: #dbd7de;*/

}

.out-container .header .inner-header .logo {
  width: 204px;  /*ancho del logo*/
  float: left;

}

.out-container .header .inner-header .logo a{
  background: url("/bundles/vaxfront/images/base/logo.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 84px;
  /*text-indent: -9999px;*/
  width: 204px;
  margin: 20px 0 0 0;

}





/*MENUES*/

.out-container .header .inner-header .nav-container {
    /*width: 100%;*/
    float: right;
    margin: 90px 10px 0 0;

}

.out-container .header .inner-header .nav-container nav {
    float: left;
    /*margin: 0 auto 0 100px;*/
    width: 100%;
    font-family: 'Quantico', arial;
    font-size: 16px;
    color: #aeaeae;
}

.out-container .header .inner-header .nav-container nav ul.nav {
    float: left;
    width: 100%;
    /*margin: 10px auto 10px auto;*/
}

.out-container .header .inner-header .nav-container nav ul.nav li {
  float: left;
  margin: 0 13px 0 13px;

}

.out-container .header .inner-header .nav-container nav ul.nav li a {
  

}

.out-container .header .inner-header .nav-container nav ul.nav li a:hover {
    color: #000000;

}




/*SUBMENUES*/

.out-container .header .inner-header .sub-nav {
    float: right;

}

.out-container .header .inner-header .sub-nav nav{
    float: left;
    /*margin: 0 auto 0 100px;*/
    width: 100%;
    font-family: 'Quantico', arial;
    font-size: 14px;
    color: #aeaeae;

}

.out-container .header .inner-header .sub-nav nav ul.sub-nav{
    float: left;
    width: 100%;
    /*margin: 10px auto 10px auto;*/
}

.out-container .header .inner-header .sub-nav nav ul.sub-nav li {
  float: left;
  margin: 0 13px 0 13px;

}

.out-container .header .inner-header .sub-nav nav ul.sub-nav li a {
  

}

.out-container .header .inner-header .sub-nav nav ul.sub-nav li a:hover {
  color: #000000;

}






/*BANNERS*/

.out-container .header .inner-header .banners {
  float: left;
  width: 940px;
  width: 100%;
  margin: 30px auto 10px auto;

}








/*CONTENT*/

.out-container .content {
  width: 960px;
  margin: 0 auto 0 auto;
}

/*en la HOME el content se divide en dos solamente. debe ser más chico el width*/
.out-container .content .home-col-left {
  float: left;
  width: 480px;
}

.out-container .content .home-col-left .title {
    font-family: 'Quantico', arial;
    font-size: 22px;
}

.out-container .content .home-col-left .title .up {
  color: #000000;
}

.out-container .content .home-col-left .title .down {
  color: #9a041f;
}

.out-container .content .home-col-left ul.services {
  float: left;
  list-style-type: disc;
  margin: 20px 0 20px 50px;
}

.out-container .content .home-col-left ul.services li {
  color: #aeaeae;

}

.out-container .content .home-col-left .conocer-mas {
  float: left;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  width:100%;
  margin: 20px 0 0 0;
}

.out-container .content .home-col-left .conocer-mas a {
  background: url("/bundles/vaxfront/images/base/btn-mas.png") no-repeat scroll 0 0 #9a041f;
  background-position: 5px 8px;
  padding: 2px 21px 2px 22px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Quantico', arial;
}

.out-container .content .home-col-left .historia {
  float: left;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  width:100%;
  margin: 20px 0 0 0;
}

.out-container .content .home-col-left .historia a {
  background: url("/bundles/vaxfront/images/base/btn-mas.png") no-repeat scroll 0 0 #9a041f;
  background-position: 5px 8px;
  padding: 2px 21px 2px 22px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Quantico', arial;
}


.out-container .content .col-left {
  float: left;
}


.out-container .content .home-col-right {
  float: right;
  width: 480px;
}

.out-container .content .col-right {
  float: right;
  width: 220px;
  margin: 10px;
  background-color: #fff9f9;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.out-container .content .home-col-right .title,
 .out-container .content .col-right .title{
  font-family: 'Quantico', arial;
  font-size: 22px;
  color: #000000;
  margin: 20px auto 20px auto;
}

.out-container .content .home-col-right .out-container-slider,
 .out-container .content .col-right .out-container-slider{
  -moz-border-radius: 20px;
  border-radius: 20px;
  float: right;
  width: 100%;
  background-color: #e5e5e5;
  height: 350px;
}




/*FOOTER*/

.out-container .footer {
  width: 100%;
  height: 200px;
  float: left;
  background-color: #f8f5f5;
}







