.out-container .content .home-col-right .out-container-slider,
 .out-container .content .col-right .out-container-slider{
  float: right;
  width: 100%;

}
.out-container .content .col-right .out-container-slider {
  margin: auto 20px auto auto;
}


.out-container-slider .title,
.out-container-slider .title {
  color: #5C5959;
  font-family: 'Quantico', Arial;
  font-size: 22px;
  font-weight: bold;
  margin: 10px auto 10px 20px;
  
}









.home-col-right .contenedor-slider {
  background-color: #FFFFFF;
  border: 2px solid #dbdbdb;
  height: 240px;
  margin: 10px 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 436px;
  /*float: right;*/
}

.col-right .contenedor-slider { /*aqui no esta en la HOME, es mas chico*/
  background-color: #FFFFFF;
  border: 2px solid #dbdbdb;
  height: 240px;
  margin: 10px 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 300px;
  /*float: right;*/
  -moz-border-radius: 10px;
  border-radius: 10px;
}



.contenedor-slider .bloque-slider {
  position: relative;
}

.contenedor-slider .bloque-slider ul li .modulo-slider {
    height: 85px;
    /*margin: 0 70px 0 0;*/
    /*padding: 13px 10px 5px 0;*/
    position: relative;
    /*width: 110px;*/
}

.col-right .contenedor-slider .bloque-slider ul li .modulo-slider .left,
.home-col-right .contenedor-slider .bloque-slider ul li .modulo-slider .left {
    float: left;
    height: 55px;
    width: 100px;
    border-bottom: 2px dotted #dbdbdb;
    margin: 5px 0 0 0;
    padding: 0 0 20px 0;
}

.col-right .contenedor-slider .bloque-slider ul li .modulo-slider .left { /*en todas las secciones, es mas chico*/
    width: 80px;
}

.contenedor-slider .bloque-slider ul li .modulo-slider .left a {
  text-decoration: none;
}

.contenedor-slider .bloque-slider ul li .modulo-slider .left a img {
  text-decoration: none;
  border: 0;
}

.col-right .contenedor-slider .bloque-slider ul li .modulo-slider .right,
.home-col-right .contenedor-slider .bloque-slider ul li .modulo-slider .right {
  width: 290px;
  float: left;
  border-bottom: 2px dotted #dbdbdb;
  height: 55px;
  margin: 5px 0 0 0;
  padding: 0 0 20px 0;
}

.col-right .contenedor-slider .bloque-slider ul li .modulo-slider .right { /*si no es la HOME es mas chico el div right*/
  width: 180px;
}

.contenedor-slider .bloque-slider ul li .modulo-slider .right .slide-title {
  color: #5C5959;
  font-size: 16px;
  float:left;
  width: 100%;
}

.contenedor-slider .bloque-slider ul li .modulo-slider .right .description {
  color: #5C5959;
  font-size: 14px;
  float:left;
  width: 100%;
}

.contenedor-slider .bloque-slider ul li .modulo-slider .right .price {
  color: #9A041F;
  font-family: 'Quantico', arial;
  float:left;
  width: 100%;
}

.contenedor-slider .mover-slider-vertical {
  position: absolute;
  width: 60px;
  right: 0;
  top: 0;
  margin: 0;
}

.contenedor-slider .mover-slider-vertical a {
  cursor: pointer;
  display: block;
  /*font-size: 0;*/
  /*height: 20px;*/
  /*line-height: 0;*/
  /*margin: 10px 0 40px 10px;*/
  /*outline: medium none;*/
  /*text-indent: -9999em;*/
  /*width: 21px;*/
}

.contenedor-slider .mover-slider-vertical .subir-slider {
  width: 22px;
  height: 28px;
  background:url(/bundles/vaxfront/images/ofertas/up.png);
  -moz-background-size:80px 60px; /* Firefox 3.6 */
  background-repeat:no-repeat;
  background-position: top left;
  float: right;
  margin: 15px 15px 15px 15px;
}

.contenedor-slider .mover-slider-vertical .subir-slider:hover {

}

.contenedor-slider .mover-slider-vertical .bajar-slider {
  width: 22px;
  height: 28px;
  background:url(/bundles/vaxfront/images/ofertas/down.png);
  -moz-background-size:80px 60px; /* Firefox 3.6 */
  background-repeat:no-repeat;
  background-position: top left;
  float: right;
  margin: 150px 15px 15px 15px;
}

.contenedor-slider .mover-slider-vertical .bajar-slider:hover {

}



/*VERT TODAS*/

a.ver-todas {
  text-decoration: none;
  float: left;
  height: 0px;
}

a.ver-todas img {
  /*position: relative;
  float: right;
  top: 302px;
  left: 20px;*/
  margin: 300px 0 0 20px;
}

