/* FORMATS */
html,body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
  {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline
}

blockquote,q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""
}

blockquote:before,q:before,blockquote:after,q:after {
  content: ""
}

th,td,caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

a {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: underline
}

ul {
  list-style: none
}

body * {
  outline: 0;
  /*display: block;*/
}

/* END FORMATS */

body {
    /*background: url("/bundles/webalibresecciones/images/base/fondo_gris.jpg") repeat scroll 0 0 #fbd19e;*/
    color: #000000;
    background-color: #FFFFFF;
    font-family: sans-serif, Times New Roman;
    /*font-size: 13px;*/
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    
}

.out-container {
  font-size: 14px;
  width: 100%;
  margin: 0 auto 0 auto;
  /*padding: 5px 0;*/
  display: block;
}

.out-container .header {
  

}

.out-container .header a {
  

}

.out-container .header a .banner {
    margin: 20px auto 20px auto;
    width: 853px;
}

.out-container .nav-container {
  

}

.out-container .nav-container nav {
  

}

.out-container .nav-container nav ul.nav {
  

}

.out-container .nav-container nav ul.nav li {
  

}

.out-container .nav-container nav ul.nav li a {
  

}