
.contenedor-slider {
  background-color: #FFFFFF;
  border: 2px solid #dbdbdb;
  height: 230px;
  margin: 10px 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 436px;
  /*float: right;*/
}

.contenedor-slider .bloque-slider {
  position: relative;
}

.contenedor-slider .bloque-slider .modulo-slider {
    height: 150px;
    margin: 0 70px 0 0;
    padding: 13px 10px 5px 0;
    position: relative;
    /*border-bottom: 1px dotted;*/
    /*width: 110px;*/
}

.contenedor-slider .mover-slider-vertical {
  position: absolute;
  width: 60px;
  right: 0;
  top: 0;
  margin: 0;
}

.contenedor-slider .mover-slider-vertical a {
  cursor: pointer;
  display: block;
  /*font-size: 0;*/
  /*height: 20px;*/
  /*line-height: 0;*/
  /*margin: 10px 0 40px 10px;*/
  /*outline: medium none;*/
  /*text-indent: -9999em;*/
  /*width: 21px;*/
}

.contenedor-slider .mover-slider-vertical .subir-slider {
  width: 22px;
  height: 28px;
  background:url(/bundles/vaxfront/images/ofertas/up.png);
  -moz-background-size:80px 60px; /* Firefox 3.6 */
  background-repeat:no-repeat;
  background-position: top left;
  float: right;
  margin: 15px 15px 15px 15px;
}

.contenedor-slider .mover-slider-vertical .subir-slider:hover {

}

.contenedor-slider .mover-slider-vertical .bajar-slider {
  width: 22px;
  height: 28px;
  background:url(/bundles/vaxfront/images/ofertas/down.png);
  -moz-background-size:80px 60px; /* Firefox 3.6 */
  background-repeat:no-repeat;
  background-position: top left;
  float: right;
  margin: 150px 15px 15px 15px;
}

.contenedor-slider .mover-slider-vertical .bajar-slider:hover {

}
