{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> QUIENES SOMOS</h2>
        <div class="box">
            <div class="txt-left">
                <p> VAX es una empresa dedicada a proveer soluciones tecnológicas en el campo de la reparación de motherboards y notebooks. </p>
                <p> Contamos con profesionales en electrónica digital,
                que mediante investigación y herramientas de ultima Tecnología, permiten innovar en métodos de reparación mas efectivos y precisos.  </p>
            </div>
            <div id="slideshow">
                {% for im in images %}
                        <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/nosotros/'~im) }}" alt="nosotros" width="160" height="150" />
                {% endfor %}
            </div>

            <!-- <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/nosotros/chip.jpg') }}" alt="chip" width="160" height="150" /> -->
        </div>
        <div class="txt-box-pie">
            <p> Con más de doce años brindando nuestros servicios, tanto a empresas como a particulares. </p>
            <p> Vax experimenta una mejora continua de sus procesos para una mayor satisfacción del cliente. </p>
        </div>
        <div class="subtitle"> Nuestros Valores </div>
        <ul class="list">
            <li> <span> • </span> Continuo perfeccionamiento de nuestro grupo de trabajo. </li>
            <li> <span> • </span> Vocación en la atención de nuestros clientes. </li>
            <li> <span> • </span> Continuidad en la innovacion de nuevos metodos y soluciones. </li>
            <li> <span> • </span> Responsabilidad y compromiso a fin de obtener un servicio satisfactorio. </li>
            <li> <span> • </span> Generar procesos que contengan una impronta de profesionalismo en cada tarea. </li>
            <li> <span> • </span> Lograr un ambiente de colaboracion y armonia a fin de mejorar nuestro desempeño. </li>
        </ul>
    </div>
{% endblock %}


