{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block ofertas %}
    <div class="left">
        <h2 class="title"> OFERTAS</h2>
        <div class="texto">
            Continuo stock de motherboards alta gama y discontinuo.
        </div>
        <div class="texto">
            Amplio surtido de routers.
        </div>
    </div>

    <div class="right">
        

        <div class="oferta-box">
            <div class="up-box">
                <div class="title"> Mother BIOSTAR</div>
                <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother-biostar-n68s3.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            </div>
            <div class="description"> n68s3</div>
            <div class="price"> U$D47</div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>

        <div class="oferta-box">
            <div class="up-box">
                <div class="title"> Router Inálambrico TP-LINK</div>
                <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/router-wifi-TL-WR740N.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            </div>
            <div class="description"> WR740N</div>
            <div class="price"> U$D35 </div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="up-box">
                <div class="title"> Mother MSI </div>
                <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother-msi-880gm-e35.jpg') }}" alt="atención telefónica"  width="80" height="80" />
            </div>
            <div class="description"> 880gm e35</div>
            <div class="price"> U$D90 </div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        <div class="oferta-box">
            <div class="up-box">
                <div class="title"> Mother MSI </div>
                <img src="{{ asset('bundles/vaxfront/images/ofertas/productos/mother-msi-880gm-e41.jpg') }}" alt="mother-msi-880gm-e41"  width="80" height="80" />
            </div>
            <div class="description"> 880gm e41</div>
            <div class="price"> U$D80 </div>
            <div class="warranty"> 6 meses de garantía </div>
        </div>
        
        

        

    </div>

{% endblock %}


