{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block body %}
    
    <div style="background-color: blue;">
        OFERTAS
    </div>

{% endblock %}


