{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block body %}
    {{ parent() }}
    <div style="background-color: blue;">
        FAQ
    </div>

{% endblock %}


