<div class="footer">
    {% block footer %}
        <div class="inner-footer">
            <div class="images">
                {% for i in range(1, 2) %}
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo1" src='/bundles/vaxfront/images/footer/logo1.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo2" src='/bundles/vaxfront/images/footer/logo2.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo3" src='/bundles/vaxfront/images/footer/logo3.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo4" src='/bundles/vaxfront/images/footer/logo4.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo5" src='/bundles/vaxfront/images/footer/logo5.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo6" src='/bundles/vaxfront/images/footer/logo6.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo7" src='/bundles/vaxfront/images/footer/logo7.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo8" src='/bundles/vaxfront/images/footer/logo8.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo9" src='/bundles/vaxfront/images/footer/logo9.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo10" src='/bundles/vaxfront/images/footer/logo10.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo11" src='/bundles/vaxfront/images/footer/logo11.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo12" src='/bundles/vaxfront/images/footer/logo12.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo13" src='/bundles/vaxfront/images/footer/logo13.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo14" src='/bundles/vaxfront/images/footer/logo14.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo15" src='/bundles/vaxfront/images/footer/logo15.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo16" src='/bundles/vaxfront/images/footer/logo16.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo17" src='/bundles/vaxfront/images/footer/logo17.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                    <a href="http://www.ubnt.com/" target="_blank">
                        <img class="logo18" src='/bundles/vaxfront/images/footer/logo18.png' 
                                    alt="ubiquiti" width="100" height="40" />
                    </a>
                {% endfor %}
            </div>
            <div class="line">
                <img src="{{ asset('bundles/vaxfront/images/base/linea-footer.jpg') }}" alt="logo"
                                    width="940" height="2" />
            </div>
            <div class="text">
                Copyright © 2012 - Vaxsoluciones ® - Todos los derechos reservados - Tel 4585.4041 - info@vaxsoluciones.com.ar
            </div>
            <div class="social-red">
                <div class="messenger">
                    <img src="{{ asset('bundles/vaxfront/images/footer/msn.png') }}" alt="msn"
                                    width="40" height="40" title="agreganos vivilti@hotmail.com"/>
                </div>
                <div class="facebook">
                    <img src="{{ asset('bundles/vaxfront/images/footer/facebook.png') }}" alt="facebook"
                                    width="40" height="40" />
                </div>
            </div>
        </div>
    {% endblock %}
</div>