{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> HISTORIA</h2>
        <div class="box">
            <div class="txt-left">
                <p> 9 años en el mercado informático. </p>
                <p> Más de 10000 soluciones satisfactorias.</p>
                <p> Laboratorio equipado con instrumentos de última tecnología en electrónica digital. </p>
            </div>
            <div id="slideshow">
                <img class="image-rigth active" src="{{ asset('bundles/vaxfront/images/historia/chip-01.jpg') }}" alt="chip" width="160" height="150" />
                <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/historia/chip-02.jpg') }}" alt="chip" width="160" height="150" />
                <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/historia/chip-03.jpg') }}" alt="chip" width="160" height="150" />
            </div>
        </div>
        <div class="subtitle"> Avalan nuestras trayectoria, las siguientes firmas: </div>
        <ul class="list">
            <li class="bold"> <span> • </span> Luis a cuadro. </li>
            <li class="bold"> <span> • </span> Núcleo distribuidora. </li>
            <li class="bold"> <span> • </span> Pascal Informática. </li>
            <li class="bold"> <span> • </span> Intcomex. </li>
            <li class="bold"> <span> • </span> Beseder sistem. </li>
            <li class="bold"> <span> • </span> Criterios Informaticos SRL. </li>
            <li class="bold"> <span> • </span> Armytech. </li>
            <li class="bold"> <span> • </span> G & A Informática. </li>
            <li class="bold"> <span> • </span> TL Informática. </li>
            <li class="bold"> <span> • </span> Tranders. </li>
            <li class="bold"> <span> • </span> Recrearte. </li>
            <li class="bold"> <span> • </span> Wireless Tigre. </li>
            <li class="bold"> <span> • </span> Ditelco. </li>
            <li class="bold"> <span> • </span> Connectis. </li>
        </ul>
    </div>
{% endblock %}


