{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}


{% block col_left %}
    <h2 class="title">
      <p class="up"> Bienvenido a </p>
      <p class="down"> Vaxsoluciones </p>
    </h2>

    <ul class="services">
      <li> <span> • </span> Proveemos soluciones tecnológicas. </li>
      <li> <span> • </span> Contamos con servicio técnico especializado. </li>
      <li> <span> • </span> Continua innovación de métodos y soluciones. </li>
      <li> <span> • </span> Más de ocho años brindando nuestro servicio. </li>
    </ul>

    <div class="conocer-mas">
      <a href="{{ path('nosotros') }}"> CONOCER MAS SOBRE NOSOTROS </a>
    </div>

{% endblock %}



