{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> MOTHERBOARD</h2>
        <div class="box">
            <div class="txt-left">
                <p> En nuestros laboratorios contamos con profesionales en electrónica digital, que mediante investigación y herramientas de última Tecnología, permiten innovar en métodos de reparación más efectivos y precisos. </p>
                <p> Por esta razón reparamos todos los componentes en todo tipo de motherboard y marca . </p>
            </div>
            <div id="slideshow">
            {% for im in images %}
                    <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/servicios/mothers/'~im) }}" alt="mother" width="160" height="150" />
            {% endfor %}
            </div>
        </div>
        <div class="subtitle"> Reparamos en nuestro Laboratorio: </div>
        <ul class="list">
            <li> <span> • </span> Filtros o capacitores electrolíticos. </li>
            <li> <span> • </span> Fets y reguladores de tensión. </li>
            <li> <span> • </span> Puertos de Video, Red y USB. </li>
            <li> <span> • </span> IControladora IDE y Winwond. </li>
            <li> <span> • </span> Reguladores de memoria y BIOS.</li>
            <li> <span> • </span> Integrados de superficie.</li>
            <li> <span> • </span> Grabación y actualización de BIOS. </li>
            <li> <span> • </span> Cambio de diodos y puente de diodos. </li>
            <li> <span> • </span> Cambio de reguladores fets renesas. </li>
            <li> <span> • </span> Cambio de etapa de fuente completa. </li>
            <li> <span> • </span> Cambio de conector de fuente 12v. y 6v. </li>
            <li> <span> • </span> Resoldado de southbridge y northbridge. </li>
            <li> <span> • </span>     Cambio de chip de red y de sonido. </li>
        </ul>
    </div>
{% endblock %}


