{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> Seguridad y Comunicaciones de Cisco</h2>
        <div class="box">
            <div class="txt-left">
                <p> Para que su información este segura le ofrecemos una variedad de opcines acorde a cada necesidad;  </p>
                <p> Consultoria en Seguridad, Penetretation Test, Analisis Forense, Consultoria en Comunicaciones, Diseño de Comunicaciones y Seguridad. </p>
            </div>
            <img class="image-rigth active" src="{{ asset('bundles/vaxfront/images/servicios/seguridad/logo_cisco.jpg') }}" alt="chip" width="160" height="150" />
        </div>

            <div class="subtitle notborder"> Consultoria en seguridad </div>
            <div class="simple-text">
              <p> Resguardo de su infraestructura tecnológica a través de las mejores prácticas en seguridad informática para ayudarlo a proteger la confidencialidad,integridad y disponibilidad de la información de su empresa. </p>
            </div>
            <div class="subtitle notborder"> Penetretation Test: </div>
            <div class="simple-text">
              <p> Realización de testeos de intrusion permitiendo la posterior corrección de las vulnerabilidades. </p>
            </div>
            <div class="subtitle notborder"> Analisis Forense: </div>
            <div class="simple-text">
              <p> Realización de análisis exhaustivos a raíz de un incidente de seguridad. </p>
            </div>
            <div class="subtitle notborder">  Consultoria en Comunicaciones: </div>
            <div class="simple-text">
              <p> Diseño y análisis de nuevas implementaciones como así también soporte de 3er nivel a incidentes dentro de un ambiente. </p>
            </div>
            <div class="subtitle notborder">  Diseño de Comunicaciones y Seguridad:</div>
            <div class="simple-text">
              <p> Realización de proyectos y documentación necesaria para ser implementada por el área de sistemas de la empresa que lo requiera. </p>
            </div>
    </div>
{% endblock %}


