<!-- Activando jQuery lightBox plugin -->
<script type="text/javascript">
$(function() {
    $('#gallery a').lightBox();
});
</script>



<div class="out-container-slider">
    <div class="title"> Ofertas del mes </div>

    <!-- MODULO DE OFERTAS (SLIDER VERTICAL) -->
    <div class="contenedor-slider">
        <div class="bloque-slider">
            <div id="gallery"> <!-- Para poder utilizar el lightBox de las imágenes -->        
                <ul>
                    <li> <div class="modulo-slider"> </div> </li>

                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mother.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/mother.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mac.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/mac.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>
        
                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/modem.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/modem.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mother.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/mother.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacularl </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mac.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/mac.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>
            
                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/modem.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/modem.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="modulo-slider">
                            <div class="left">
                                <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mother.jpg"
                                        title="Llevese la mother por tan solo $220. Aproveche!!">
                                    <img src="/bundles/vaxfront/images/lightbox/novedades/mother.jpg" width="80" height="50" />
                                </a>
                            </div>
                            <div class="right">
                                <div class="slide-title"> Mother msi </div>
                                <div class="description"> un mother espectacular </div>
                                <div class="price"> $223,00 </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div> <!-- FIN id=gallery -->
        </div>
        <p class="mover-slider-vertical">
            <a class="subir-slider"> </a>
            <a class="bajar-slider"> </a>
        </p>
    </div>
</div>  <!-- fin class="out-container-slider"