
<!-- MODULO DE OFERTAS (SLIDER VERTICAL) -->
<div class="contenedor-slider">
    <div class="bloque-slider">
        
        <div class="modulo-slider"> </div>
        
        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> MOTHER MSI </div>
            <div class="description"> un mother espectacular </div>
            <div class="price"> $223,00 </div>
            <div class="guaranty"> Garantia </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> APPLE </div>
            <div class="description"> la verdadera manzana </div>
            <div class="price"> $12223,00 </div>
            <div class="guaranty"> Garantia 2 años </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> MODEM </div>
            <div class="description"> modem vps </div>
            <div class="price"> $123,00 </div>
            <div class="guaranty"> Garantia </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> CPU ATHLON </div>
            <div class="description"> cpu dedicaco </div>
            <div class="price"> $1233,00 </div>
            <div class="guaranty"> Garantia </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> NOTEBOOK </div>
            <div class="description"> atx 88 </div>
            <div class="price"> $2223,00 </div>
            <div class="guaranty"> Garantia 1 año </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> PLACA xxxx </div>
            <div class="description"> placa tridimensional </div>
            <div class="price"> $323,00 </div>
            <div class="guaranty"> Garantia 1 año </div>
        </div>

        <div class="modulo-slider">
            <div class="image"> <img src="" /> </div>
            <div class="title"> MOTHER MSI </div>
            <div class="description"> un mother espectacular </div>
            <div class="price"> $223,00 </div>
            <div class="guaranty"> Garantia </div>
        </div>

    </div>
    <p class="mover-slider-vertical">
        <a class="subir-slider"> </a>
        <a class="bajar-slider"> </a>
    </p>
</div>