<!-- Activando jQuery lightBox plugin -->
    <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>


<!-- MODULO DE OFERTAS (SLIDER VERTICAL) -->
<div class="contenedor-slider">
    <div class="bloque-slider">
        <div id="gallery"> <!-- Para poder utilizar el lightBox de las imágenes -->        
            <ul>
                
                <div class="modulo-slider"> </div>

                <li>
                    <div class="modulo-slider">
                        <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mother.jpg"
                                title="Llevese la mother por tan solo $220. Aproveche!!">
                            <img src="/bundles/vaxfront/images/lightbox/novedades/mother.jpg" width="40" height="40" />
                        </a>
                        <div class="title"> MOTHER MSI </div>
                        <div class="description"> un mother espectacular </div>
                        <div class="price"> $223,00 </div>
                        <div class="guaranty"> Garantia </div>
                    </div>
                </li>

                <li>
                    <div class="modulo-slider">
                        <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/mac.jpg"
                                title="Regalamos esta mac. funciona de maravilla">
                            <img src="/bundles/vaxfront/images/lightbox/novedades/mac.jpg" width="40" height="40" />
                        </a>
                        <div class="title"> APPLE </div>
                        <div class="description"> la verdadera manzana </div>
                        <div class="price"> $12223,00 </div>
                        <div class="guaranty"> Garantia 2 años </div>
                    </div>
                </li>

                <li>
                    <div class="modulo-slider">
                        <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/modem.jpg"
                                title="modem funcionando OK">
                            <img src="/bundles/vaxfront/images/lightbox/novedades/modem.jpg" width="40" height="40" />
                        </a>
                        <div class="title"> MODEM </div>
                        <div class="description"> modem vps </div>
                        <div class="price"> $123,00 </div>
                        <div class="guaranty"> Garantia </div>
                    </div>
                </li>

                <li>
                    <div class="modulo-slider">
                        <a class="image" href="/bundles/vaxfront/images/lightbox/novedades/athlon.jpg"
                                title="Regalamos esta mac. funciona de maravilla">
                            <img src="/bundles/vaxfront/images/lightbox/novedades/athlon.jpg" width="40" height="40" />
                        </a>
                        <div class="title"> CPU ATHLON </div>
                        <div class="description"> cpu dedicaco </div>
                        <div class="price"> $1233,00 </div>
                        <div class="guaranty"> Garantia </div>
                    </div>
                </li>

            </ul>
        </div> <!-- FIN id=gallery -->
    </div>
    <p class="mover-slider-vertical">
        <a class="subir-slider"> </a>
        <a class="bajar-slider"> </a>
    </p>
</div>