{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> PLACAS DE VIDEO O VGA</h2>
        <div class="box">
            <div class="txt-left">
                <p> Para una rápida y correcta reparación de tu Placa VGA, es recomendable una detallada descripción de la falla de la misma. </p>
                <p> FALLAS TIPICAS </p>
                <p> PROCEDIMIENTO </p>
                <p> REPARACION Y TESTEO </p>
            </div>
            <div id="slideshow">
                {% for im in images %}
                    <img class="image-rigth" src="{{ asset('bundles/vaxfront/images/servicios/videos/'~im) }}" alt="placa-video" width="160" height="150" />
                {% endfor %}
            </div>
        </div>
        <div class="subtitle"> Fallas típicas: </div>
        <ul class="list">
            <li> <span> • </span> Enciende, pero no da imágen. </li>
            <li> <span> • </span> Dá imágenes cin pixeles. </li>
            <li> <span> • </span> Dá imágen con rayas verticales u horizontales. </li>
            <li> <span> • </span> Dá imágen, pero se ven distintos colores. </li>
            <li> <span> • </span> La placa anda bien en Windows, pero pixela o hace lo anteriormente mencionado en juegos.</li>
            <li> <span> • </span> Levanta demasiada temperatura tanto en Windows como en juegos.</li>
        </ul>
        <div class="subtitle"> Procedimiento: </div>
        <ul class="list">
            <li> <span> • </span> Se testea la etapa de alimentación de la placa. </li>
            <li> <span> • </span> Se testean memorias y GPU de la placa. </li>
            <li> <span> • </span> Se testea BIOS de la placa. </li>
        </ul>
        <div class="subtitle"> Reparación y testeo: </div>
        <ul class="list">
            <li> <span> • </span> En el caso que la placa tenga reparación se presupuesta sin cargo. </li>
            <li> <span> • </span> Todas las placas de video se entregan testeadas con juegos full. </li>
        </ul>



    </div>
{% endblock %}


