{% extends 'VaxFrontBundle:Page:base.html.twig' %}

{% block title %}
  :: VAX SOLUCIONES ::
{% endblock %}

{% block col_left %}
    <div class="content-common">
        <h2 class="section-title"> GARANTÍA</h2>
        <div class="box">
            <div class="txt-left">
                <p> Garantizamos nuestras reparaciones por un periodo de 6 meses en cualquier modelo de motherboards y notebooks.  </p>
                <p> Garantía escrita en todas las reparaciones de mothers y notebooks, garantía q se limita a la reparación efectuada. </p>
                <p> La garantía es sobre la falla reparada, no por nortbridge y southbridge.</p>
            </div>
            <img class="image-rigth active" src="{{ asset('bundles/vaxfront/images/servicios/garantia/warranty.jpg') }}" alt="garantia 6 meses" width="160" height="150" />
        </div>
    </div>
{% endblock %}


